.banner{
    width: 100%;
    height: 605px;
    background-image: url('../trilha-css-desafio-01/assets/images/banner.png');
}

.logo{
    width: 510px;
    height: 393px;  
    margin-top: 56px;
    margin-left: 600px;
    gap: 16px
}
h1, p {
    text-align: center;
}

button{
    
}