
.logo{
    display: flex;
    justify-content: center;
}

.banner-content{
    background-color: black;
    background-image: url('./assets/images/banner.png');
    background-size: cover;
    mix-blend-mode: screen;
    text-align: center;
    color: white;
}

.button{
    display: flex;
    justify-content: center;
}

div > h1 {
    text-align: center;
    color:rgb(0, 153, 255);
}

section > h2 {
    text-align: center;
    color:rgb(0, 153, 255);
}

#transform-world{
    text-align: center;
}

#professional-challenges{

}